@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px) {

   @font-face {
      font-family: 'Corleone';
      src: url('Corleone.ttf');
   }

   body {
      background-repeat: repeat;
      background-attachment: fixed;
      background-image: url("gradient-mask2.png");
      z-index: 100;
      overflow-x: hidden;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   }

   .spinLogo {
      width: 90%;
      text-align: center;
      font-size: 50%;
      animation: spinLogo 4s 9s forwards;
      opacity: 0;
      position: absolute;
      top: 60%;
      overflow-x: hidden;
      left: 5%;
   }

   @keyframes spinLogo {
      0% {
         opacity: 0;
      }

      100% {
         opacity: 1;
         transform: rotate(2520deg) scale(5.5);
      }
   }

   .spinLogoFont {
      font-family: Corleone;
   }

   .title {
      position: absolute;
      top: 0px;
      right: 0px;
      left: 0px;
      width: 100%;
      text-align: center;
      font-size: 140%;
      background-color: black;
      color: white;
      z-index: 100;
   }

   .title .fontStyle {
      font-family: Corleone;
      z-index: 100;
   }

   .title h1 {
      transition: color 4s ease, font-size 4s ease, transform 4s;
      z-index: 100;
   }

   .title1 h1{
      color: #45CEE0;
      font-size: 100%;
      transform: translate(-140px, -14px);
      z-index: 100;
   }

   .scrolling {
      width: 0 auto;
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden;
      font-family: sans-serif;
      z-index: 100;
   }

   .scrolling span {
      display: inline-block;
      padding-right: 100%;
      animation: scrollText 5s linear infinite;
      z-index: 100;
   }

   @keyframes scrollText {
      0%   {
         transform: translate(0%, 0) rotateX(0deg);
         color: white;
      }
      10% {
         color: #45CEE0;
      }
      20% {
         color: white;
      }
      30% {
         color: #45CEE0;
      }
      40% {
         color: white;
      }
      50% {
         color: #45CEE0;
         transform: translate(27%, 0) rotateX(360deg);
      }
   }

   #container {
      width: 100%;
      height: 100%;
      text-align: center;
      position: relative;
      z-index: 100;
   }

   .search {
      background-color: black;
      border: 1px solid darkgray;
      color: #45CEE0;
      padding: 10px 24px;
      cursor: pointer;
      position: relative;
      margin: 0 auto;
      font-size: 100%;
      transition: all 4s ease;
      z-index: 100;
   }

   .new {
      background-color: black;
      border: 1px solid darkgray;
      color: #45CEE0;
      padding: 10px 24px;
      cursor: pointer;
      position: relative;
      margin: 0 auto;
      font-size: 100%;
      opacity: 0.3;
      transition: all 4s ease;
      z-index: 100;
   }

   .fade-in {
      opacity: 1.0
   }

   .fade-out {
      opacity: 0.3;
   }

   .btn-group {
      position: relative;
      top: 0px;
      right: 0px;
      left: 14px;
      width: 100%;
      text-align: center;
      z-index: 100;
   }

   .btn-group button{
      background-color: black;
      border: 1px solid darkgray;
      color: #45CEE0;
      padding: 10px 24px;
      cursor: pointer;
      float: left;
      z-index: 100;
   }

   #movieTitle {
      position: relative;
      margin: 0 auto;
      text-align: center;
      color: white;
      background-color: black;
      z-index: 100;
   }

   .results {
      background-color: black;
      width: 100%;
      margin: auto;
      display: block;
      text-align: center;
      z-index: 100;
   }

   .cTable, th, td {
      font-size: 100%;
      border-collapse: collapse;
      border: 2px solid black;
      color: white;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.0);
      position: relative;
      animation: scrollTD 3s ease;
      z-index: 100;
   }

   @keyframes scrollTD {
      0% {
         transform: translate(-560%, 0) matrix(3, 0, 1, 1, 200, 0);
      }
      100% {
         transform: translate(0, 0);
      }
   }

   .sBar {
      width: 50%;
      font-size: 100%;
      z-index: 100;
   }

   .history {
      height: 495px;
      width: 100%;
      margin-top: 126px;
      position: absolute;
      z-index: 101;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.8);
      overflow-x: hidden;
      display: none;
   }

   .movieList {
      text-align: center;
      vertical-align: middle;
      line-height: 10px;
      font-size: 120%;
      z-index: 100;
   }

   a:link {
      color: #45CEE0;
      text-decoration: none;
      z-index: 100;
   }

   a:visited {
      color: white;
      text-decoration: none;
      z-index: 100;
   }

   .closebtn {
      position: absolute;
      top: 1px;
      right: 45px;
      font-size: 30px;
      z-index: 100;
   }

   .picContainer {
      position: relative;
      background-color: transparent;
      /*#45CEE0;*/
      width: 100%;
      height: 315px;
      z-index: 99;
      animation: fadeOutPics 1s 5s forwards;
   }

   @keyframes fadeOutPics {
      0% {
         opacity: 1;
      }
      100% {
         opacity: 0;
      }
   }

   .pic1 {
      animation: pic1Fall 1s forwards;
      position: absolute;
      padding-left: 32px;
      z-index: -10;
      top: -500px;
   }

   .pic2 {
      animation: pic1Fall;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      position: absolute;
      padding-left: 32px;
      padding-top: 32px;
      z-index: -9;
      top: -500px;
   }

   .pic3 {
      animation: pic1Fall;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
      position: absolute;
      padding-left: 32px;
      padding-top: 64px;
      z-index: -8;
      top: -500px;
   }

   .pic4 {
      animation: pic1Fall;
      animation-duration: 1s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
      position: absolute;
      padding-left: 32px;
      padding-top: 96px;
      z-index: -7;
      top: -500px;
   }

   .pic5 {
      animation: pic1Fall;
      animation-duration: 1s;
      animation-delay: 4s;
      animation-fill-mode: forwards;
      position: absolute;
      padding-left: 32px;
      padding-top: 128px;
      z-index: -6;
      top: -500px;
   }

   @keyframes pic1Fall {
      0% {
         top: -500px;
      }

      100% {
         top: 0px;
      }
   }

   .homeTitleContainer {
      position: relative;

   }

   .homeTitle {
      width: 100%;
      position: absolute;
      padding-top: 75%;
      text-align: center;
      animation: movieTitleFade 1s forwards;
      opacity: 0;
      font-size: 135%;
   }

   @keyframes movieTitleFade {
      0% {
         opacity: 0;
      }

      25% {
         opacity: 1;
      }

      50% {
         opacity: 1;
      }

      75% {
         opacity: 1;
      }

      100% {
         opacity: 0;
      }
   }

   .homeTitle:nth-child(2) { animation-delay: 1s}
   .homeTitle:nth-child(3) { animation-delay: 2s}
   .homeTitle:nth-child(4) { animation-delay: 3s}
   .homeTitle:nth-child(5) { animation-delay: 4s}
   /*.homeTitle:nth-child(6) { animation-delay: 5s}
   .homeTitle:nth-child(7) { animation-delay: 7s}*/

   .slogan {
      width: 100%;
      position: absolute;
      padding-top: 25%;
      text-align: center;
      opacity: 0;
      font-size: 250%;
      animation: slogan 2s forwards;
   }

   @keyframes slogan {
      0% {
         opacity: 0;
      }

      50% {
         opacity: 1;
      }

      100% {
         opacity: 0;
      }
   }

   .slogan:nth-child(1) { animation-delay: 6s }
   .slogan:nth-child(2) { animation-delay: 8s }
}
