@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
   font-family: 'PT Sans', sans-serif;
}

.header1 {
   text-align: center;
}

.assignTbl, th, td {
   margin: 0 auto;
   width: auto;
   font-size: 100%;
   border-collapse: collapse;
   border: 2px solid grey;
}

td {
   width: auto;

}

span {
   font-weight: bold;
}

a:link {
    color: lightseagreen;
    text-decoration: none;
}

a:visited {
    color: crimson;
}

a:hover {
    color: darkseagreen;
}
