.header1 {
   text-align: center;
}

.assignTbl, th, td {
   width: 75%;
   font-size: 100%;
   border-collapse: collapse;
   border: 2px solid grey;
}

td {
   width: 50%;
}

span {
   font-weight: bold;
}
